In [530]:
idade1 = 32
idade2 = 53
somaIdade = idade1 + idade2

In [531]:
print(somaIdade)

85

In [532]:
idade1 + 10
idade2 - 12
idade1 * 3
idade2 / 4

13.25

In [533]:
calculo1 = 2 *(idade1 + idade2)

In [534]:
calculo2 = 2 * idade1 + 3 * idade2 / 4

In [535]:
calculo3 = (2 * idade1 + 3 * idade2) / 4

In [536]:
calculo1 + calculo2 * calculo3

5954.0625

In [537]:
idade1 ** 3

32768

In [538]:
52 / 6

8.666666666666666

In [539]:
52 // 6

8

In [540]:
idade1 % idade2

32

In [541]:
#Adição +
#Subtração -
#Multiplicação *
#Divisão /
#Expoente "elevar" **
#Parêntesis ()

#pegar a parte inteira da divisão //
#pegar o resta de uma divisão %

In [542]:
nome1 = "Lohan"

In [543]:
sobrenome1 = "Gonzales"

In [544]:
print(nome1 , sobrenome1)

Lohan Gonzales

In [545]:
print(nome1 + sobrenome1)

LohanGonzales

In [546]:
print(nome1 + ' ' + sobrenome1)

Lohan Gonzales

In [547]:
print("Olá,", nome1, sobrenome1, 'você tem', idade1 - 10, 'anos.')

Olá, Lohan Gonzales você tem 22 anos.

In [548]:
print("Olá,", nome1, sobrenome1, '\n' , 'você tem', idade1 - 10, 'anos.')

Olá, Lohan Gonzales
 você tem 22 anos.

In [549]:
#divisão de linhas em um texto '\n'

In [550]:
idade3 = int(input('digite sua idade:'))
print(idade3)

9

In [551]:
type(idade3)

int

In [552]:
num1 = 12
num1 -= 3
print(num1)

9

In [553]:
num2 = 5
num2 += 6
print(num2)

11