In [5]:
#criando Tuplas

In [6]:
#Tupla com parênteses

tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [7]:
#Tupla sem parênteses

tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [8]:
#Tupla com apenas um elemento

tupla_elemento = 10
tupla_elemento

10

In [9]:
#Tupla vazia

tupla_vazia = ()
tupla_vazia

()

In [10]:
#Função tuple

nova_tupla = tuple('Tales')
nova_tupla

('T', 'a', 'l', 'e', 's')

In [11]:
#Contando elementos da tupla

In [12]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
print(tupla_nomes.count('Marlene'))

2

In [13]:
print (tupla_nomes.count('Suely'))

0

In [14]:
print (tupla_nomes.count('Zezinho'))

1

In [15]:
#Desafio

In [16]:
#Crie uma Tupla com os seguintes elementos: 1,2,2,3,4,4,4,5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

tupla_desafio = (1,2,2,3,4,4,4,5)
print (tupla_desafio.count(4))

3

In [17]:
#Dicionário (maps) em python

dicio = {'chave':'valor'}
print (type(dicio))

<class 'dict'>

In [18]:
d = {'laranjas':15,'bananas':35,'siriguelas':12}
d['bananas']

35

In [19]:
d['pitomba'] = 20
len(d)

4

In [20]:
'pitomba' in d

True

In [21]:
'pears' in d

False

In [22]:
#Concatenação e Repetição

In [23]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
print ([1,2] + [3,4])

[1, 2, 3, 4]

In [24]:
print (frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [28]:
print ([0] * 4)

[0, 0, 0, 0]

In [29]:
print ([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]